header {
    .container-fluid-header {
        text-transform: uppercase;
        color: yellow;
        background-color: red;
        text-align: center;
        height: 50px;
        width: 100%;
    }
}